@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #F8FAFC;
    color: #1e293b;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
  }
}

@layer components {
  .glass {
    @apply bg-white/70 backdrop-blur-md border border-white/50;
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Calendar Month Input Hack */
input[type="month"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  background: transparent;
}